[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "themes"]
	path = themes
	url = https://github.com/msoucy/insoucyant.theme.git
	ignore = dirty
[submodule "Presentations"]
	path = Presentations
	url = https://github.com/msoucy/Presentations.git
	ignore = dirty
