[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "Presentations"]
	path = Presentations
	url = https://github.com/msoucy/Presentations.git
	ignore = dirty
