[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
upload = "make rsync_upload"

[dev-packages]

[packages]
pelican = "*"
cssmin = "*"
webassets = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
pelican-webassets = "*"
pelican-neighbors = "*"
pelican-sitemap = "*"
pelican-series = "*"
pelican-render-math = "*"
Markdown = "*"
pyScss = "*"
GitPython = "*"

[requires]
python_version = "3.9"
