[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pelican = "*"
markdown = "*"
pyscss = "*"
cssmin = "*"
webassets = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
gitpython = "*"

[requires]
python_version = "3.6"
