<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="referrer" content="no-referrer" />
  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico" />
  
  {{- $sass := resources.Get "sass/theme.scss" -}}
  {{- $style := $sass | resources.ToCSS -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}


  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Description }}" />
  {{- partial "metadata.html" . -}}
</head>