// establishes page width and centers
$grid-column-width: 6.81%;
$grid-gutter-width: 1.52%;

$max-size: 1080px;
$nav-size: 210px;
$screen-mult: 0.75;
$max-screen-size: 1080px;

// recent posts column
.row {
  width: auto;
  margin: 0px 5px;
  margin-bottom: $grid-gutter-width;
}

// Header
header, footer, main {
  width: auto;
  margin: 0px 50px $grid-gutter-width;
  clear: both;
}

// Dropdown menu
nav ul {
  list-style: none;
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  ul {
    position: absolute;
    top: 100%;
    li {
      float: none;
      position: relative;
    }
    ul {
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
  li {
    float: left;
    &:hover > ul {
      display: block;
    }
  }
  ul {
    display: none;
  }
}

nav ul {
  margin: 0;
  width: 100%;
  li {
    width: 25%;
    ul {
      width: 25%;
      li, ul {
        width: 100%;
      }
    }
  }
}

// full page post column
article {
  margin: 1.76% auto 1.76%;
  padding: 1em;
}

main {
  width: auto;
  margin: 0 auto;
}

@media only screen and (min-width: $max-screen-size) {
  main {
    max-width: $max-size;
  }
}

// Headers
.headline {
  float: left;
}

.subheadline {
  float: right;
}

@mixin mobile {
  .no-mobile {
    display: none;
  }
  .container {
    margin: 0% 0%;
  }
}

.portrait-mobile {
  display: none;
}

@mixin landscape-mobile {
  @include mobile;
}

@mixin portrait-mobile {
  @include mobile;
  .no-portrait-mobile {
    display: none;
  }
  .portrait-mobile {
    display: block;
  }
}

// on mobile devices get rid of some elements
@media only screen and (max-device-width: 760px) {
  @include landscape-mobile;
}

@media only screen and (max-width: 760px) {
  @include landscape-mobile;
}

// stop having lists side-by-side on really small mobile devices
@media only screen and (max-device-width: 420px) {
  @include portrait-mobile;
}

@media only screen and (max-width: 420px) {
  @include portrait-mobile;
}
